spring.datasource.driver-class-name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.format_sql=
spring.thymeleaf.prefix=classpath
#cloudinary
cloudinary.cloud_name=
cloudinary.api_key=
cloudinary.api_secret=